
.tarjeta{
  background-color: steelblue;
  height: 24rem;
  width: 30rem;
  text-align: center;
  color: silver;
  border-style: solid;
  border-width: medium;
  margin-top: 20px;
  margin-bottom: 20px;
}
img{
  width: 20rem;
  height: 10rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 8px;
}
